.bloco {

    width: 100%;
    height: 100%;
}

.listagem {
    left: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    width: 80%;
}

.listagem th {
    border: 1px #29abe2 solid;
    border-top: 0px;
    border-bottom: 1px #29abe2 solid;
    text-align: center;
    font-family: "Roboto-Regular";
    color: #012d51;
}

.listagem th:first-child {
    border: 1px #29abe2 solid;
    border-top: 0px;
    border-left: 0px;
    border-bottom: 1px #29abe2 solid;
}

.listagem th:last-child {
    border: 1px #29abe2 solid;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 1px #29abe2 solid;
}

.listagem table {
    border-collapse: collapse;
}

.listagem td {
    border: 1px #29abe2 solid;
    font-family: "Helvetica-CondensedRegular";
    border-collapse: separate;
    border-spacing: 20px;
    text-align: center;
    color: #808080;
    cursor: pointer;
}

.listagem2 td {
    border-bottom: 1px #29abe2 solid;
    font-family: "Helvetica-CondensedRegular";
    border-collapse: separate;
    border-spacing: 20px;
    text-align: center;
    color: #808080;
}

.listagem td:first-child {
    border-left: 0px;
}

.listagem td:last-child {
    border-right: 0px;
}

.listagem tr:last-child td {
    border-bottom: 0px;
}

.tab {
  display: none;
}


@media only screen and (max-width: 768px) {
    .tab {
      display: flex;
      width: 100%;
    }
    ngb-tabset {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: auto;
      width: 80%;
    }
    .listagem table {
      display: none;
    }
    .listagem2 table {
      width: 100%;
    }
    .listage2 td {
      border-bottom: 1px #29abe2 solid;
      cursor: pointer;
    }

}
