<div class="conteudo">
<h3>Sobre mim</h3>
<p>
Na década de 90 escrevi pela primeira vez um "hello world" e a partir dai me apaixonei pela computação. O caminho foi longo passando pelos primeiros bancos de dados até chegar no MySql e Oracle... teve também a revolução da web quando saí do desktop para os primeiros scripts em Asp e php. Conheci um tal de Java e até hoje não sai dele, mas se bem que ultimamente ando flertando com Spring, microservices e uma turma nova que vive na nuvem.
</p>
<p>
Mas não pense que a vida foi só programação não! Houve também o Linux e muito trabalho administrando redes e ali vi de quase tudo: firewall, proxy, ids, vpn, conectividade, virtualização... um mar de letras e siglas. Pacotes passando pra lá e pra cá e um segredo pra manter tudo funcionando: Organização e disciplina.
</p>
A Universidade veio recentemente porque até então sempre me virei como auto-didata. Ali veio muito trabalho em equipe e gente muito boa com quem colaborei. Pude ver que sempre há algo que posso ensinar e algo que posso aprender. Tive o prazer de poder contribuir com quem não podia me dar nada em troca através de projetos sociais, se bem que no final das contas quem foi enriquecido foi eu. Dinheiro não é tudo.
<p>
Hoje posso dizer que não há limites para a criatividade e o trabalho duro. Tudo é possível! Vamos trabalhar juntos? 
</p>
</div>