/*
O CSS deve atender à tres resoluções básicas: desktop, tablet e mobile

No desktop os itens aparecem de forma distribuida na navbarm, sendo a logo ocupando os primeiros 25% e o restante nos itens da nav
No tablet os itens da navbar vão para o hamburguer e a logo fica alinhada a direita.
No mobile segue o mesmo padrã do tablet mas com o hamburguer ocupando 50% na largura e o necessário na altura

*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.topcontent {
  width: 100%;
  height: 100%;
  background-image: url("/assets/imagens/menu-background.jpg");
  background-repeat: repeat-y;
  z-index: 100;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  font-family: 'Roboto', sans-serif;
}

/* A logo deve aparcer de maneira distribuida na navigation na versão desktop.
 Em tablet e mobile fica alinhado a direita.
*/
.logo {
  text-transform: uppercase;
  width: 171px;
  height: 40px;
  transform: scale(0.5);
}

.dot-menu {
  color: white;
}

/* Item que só deve aparecer no hamburger */
.hamburger-only {
  display: none;
}

.nav-links {
  display: flex;
  width: 60%;
  justify-content: space-around;
}

.nav-links a {
  color: white;
  text-decoration: none;
  letter-spacing: 3px;
  cursor: pointer;
}

.nav-links li {
  list-style-type: none;
}

.hamburger {
  display: none;
  position: absolute;
  cursor: pointer;
  color: white;
  width: 25px;
  height: 25px;
  margin-left: 25px;
  margin-top: 20px;
}

.hamburger div {
  background-color: blue;
  width: 25px;
  height: 3px;
  margin: 5px;
}

.hamburguer-aberto {
  display: none;
}
