<div class="topcontent">
  <div class="hamburger" (click)="showHideNav()"><img src="assets/imagens/hamburguer.svg"></div>
  <div class="hamburguer-aberto" (click)="showHideNav()"><img width="25px" height="25px"
      src="assets/imagens/hamburguer-aberto.svg"></div>

  <nav id="menu" #nav>
    <div class="logo"><img src="/assets/imagens/logo-in8-dev.svg"></div>
    <ul class="nav-links" #navlinks>

      <li><a (click)="abrir('/')">inicio</a></li>
      <li class="dot-menu">&bull;</li>
      <li><a (click)="abrir('cadastro')">cadastro</a></li>
      <li class="dot-menu">&bull;</li>
      <li><a (click)="abrir('lista')">lista</a></li>
      <li class="dot-menu">&bull;</li>

      <li><a (click)="abrir('about')">sobre</a></li>
    </ul>
  </nav>
</div>
